<div class="p-4 rounded-0 bg-dark text-white"
 id="list-contender">
  <h2>Lista</h2>
  <form action="/" method="POST">
    <label for="tarea">Agregar nueva tarea: </label>
    <input
      type="text"
      name="tarea"
      id="tarea"
      placeholder="Escribe una Tarea"
      class="rounded-0 bg-black text-white"
      required=""
      minlength="1"
      maxlength="500"
    />
    <button
      id="btnAgregarTarea"
      type="submit"
      class="btn btn-info justify-content-md-end"
    >Agregar
    </button>
    {{#if tasks}}
  </form>
  
  <ul 
    id="contenedorTareas"
    class="list-group">
    {{#each tasks}}
      <li class="mb-2">
        <span>{{tarea}}</span>
        <form action='/terminada/{{id}}/{{done}}' method="post"  class="form_done">
          <button type="submit" class="btn-submit">
            <i class="fas fa-check"></i>
          </button>
          {{!-- <button type="submit" class="btn-submit">
            <i class="fab fa-battle-net"></i>
          </button> --}}
        </form>
        <a 
        href="/actualizar/{{id}}"
        class="btn-actualizar"><i class="fas fa-pen"></i></a>
        <a
          href="/eliminar/{{@index}}" 
          class="btn-eliminar"><i class="fas fa-trash"></i></a>
      </li>
    {{/each}}
  </ul>
</div>
{{else}}
  <div class="h-50 d-flex aling-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No hay tareas</h1>
    </div>
  </div>
{{/if}}